.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.input:focus {
  background-color: rgb(250, 249, 246);
}

.input {
  width: 600px;
  border-radius: 5px;
  height: 30px;
}